header{
    height: 50px;
    width: 100%;
   
}


header>img{
    height: 100%;
    padding-left: 5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    text-align: center;
}


main{
    background-color: rgb(29, 45, 60);
}

main div.card{
background-color: rgba(0, 0, 0, 0);
color: white;
}